@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* тексттын шрифтарын арналган ссылка */
*{
    margin: 0; /* используемые для управления внешним и внутренним пространством элементов соответственно */
    padding: 0; /* используемые для управления внешним и внутренним пространством элементов соответственно */
    box-sizing: border-box; /* которое определяет,как должен расчитываться размер элемента,включая его границы и заполнение (padding). */
    font-family: 'Poppins', sans-serif;
}
body {
    line-height: 1.6; /* высота строки будет 1.6 * 16px = 25.6px */
}

h1 {
    font-size: 36px; /* размер текста  Сурет іздеу приложениясы */
    font-weight: bold; /* шрифт станет более жирным */
    text-align: center; /* текст будеть стоять в центре */
    margin: 40px 0 60px 0; /* үстінен 40px астынан 60px оң жағынан 0px сол жағынан 0px бос орын қалдыру */
}

form {
    display: flex; /* flex-Бұл пішін элементін икемді орналасуы бар контейнерге айналдырады */
    justify-content: center; /* вправо или влево или в центре , решать только по горизонтально (элементты орналастыруға form дағы) */
    align-items: center; /* сверху или вниз или в центре , решать только по вертикальным  (элемента) */
    margin-bottom: 60px; /*Астынан 60px қалдырады */
}

#search-input { /* id: Указывается в CSS с использованием #, например, #myId или #search-input и т.д { ... }. */
    width: 60%; /*  ені=60  корчканын который сурет іздеутін */
    max-width: 200px; /* максимально 200px ге дейін барады экраннын 60% */
    padding: 10px 20px; /* 10px for top(верхний) and bottom(нижнее) , левой и правой сторону каждому и 20px */
    border: none; /* рамка - border , none - не нужна (без рамка)*/
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2); /* көлеңке қалдыру айналасына */
    border-radius: 5px; /* рамканын бурышарын дөңгелекдеу қылу үшін 4 бұрышына ортақ радиус 5px*/
    font-size: 18px; /* размер шрифта которого мы напишем в поиске */
    color: #333; /* цвет шрифта */
}

#search-button {
    padding: 10px 20px;
    background-color: #138065; /* заменять цвета заднего фона */
    color: #fff; /* текст түсі аққа айналады мысалы бізде Іздеу деген сөз */
    border: none; /* рамка:жок*/
    font-size: 18px; /* размер шрифта іздеу деген сөздің размеры */
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2); /* көлеңке қалдыру айналасына*/
    cursor: pointer; /* мышканы апарганда ауысып кету мысалы колдын суретіне */
    border-radius: 5px; /* рамканын бурышарын дөңгелекдеу қылу үшін 4 бұрышына ортақ радиус 5px*/
    margin-left: 10px; /* екі корчканы арасына 10px қалдыру */
}

.search-results { /* class болғандықтан оған . арқылы обращаться*/
    display:flex; /*  онай қозғалып икемділігін айтады  */
    justify-content: space-between; /* вправо или влево или в центре , решать только по горизонтально суреттердің орналасыруға */
    flex-wrap: wrap; /* суреттердің біз салатын солардың бір қатарға сыйуына жауап береді */
    max-width: 1200px; /*  максимальный длина */
    margin: 0 auto; /* үстінгі и астынғы ара қашықтық 0px, оң және сол ара қашықтық автоматты wrap, space-between осылар аркылы */
    padding: 20px; /* астына үстіне оңға солға 20px қалдыру бос прастранста  */
}

.search-result {
    margin-bottom: 60px; /* астынан 60px қалдыру*/
    width: 30%; /* енін 30% қысқартады мысалы ені 100px болса сонын 30% не диін қысқарту  */
    height: 100%; /* биіктігін қалай бар солай қалдыра бер 100px болса 100px боп қалады  */
    border-radius: 5px; /* бұрыстарын тік емес шамалы угольный қылып жасайды тік бұрышты болмайды */
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2); /* көлеңке */
    overflow: hidden; /* осы жазылмаса сурет өзгермиді ал жазса өзгереді */
}

.search-result img {
    width: 100%; /* ені 100% болып қала береді өзгертпейді */
    height: 200px; /* биіктігінде өзгертпейді 100% қалай бар солай қалады cуреттің */
    object-fit: cover; /* */
    transition: opacity 0.2s ease-in-out; /* суретке барғанда ол шамалы плавны мишканын қозғалуына жауап береді және туманныға  */
}

.search-result:hover img{ /* осыны қоспаса үстідегі transition: істемейді  */
    opacity: 0.8; /* 80% суретті қалдырып 20% туманны қыл деп жатырмыз */
}

.search-result a {
    font-size: 20px; /* 20px үлкейеді */
    text-decoration: none; /* текстке ештене артық қойма дит просто сөздің өзі болсын дит */
    color: #333; /* түсін өзгерті ( жанындағыдай осы жердегі) */
    display: block; /*  */
    padding: 10px; /* төрт жағынанда 10px орын қалдырып кет */
    text-transform: capitalize; /* capitalize-сөздің бас әріппен жазылуын қарайды */
}

#show-more-button { /*  id- болғандықтан біз алдына # қойып обаратца етеміз*/
    background-color: #088cba; /* атқы жағына осындай көк цветтегі фон койу үшін */
    font-size: 18px; /* размер 18px */
    border:none; /* рамка:жок */
    color: #fff; /* түсін ақ қылу */
    padding: 10px 20px; /* отыступ асты үсті 10px оңға солға 20px бос орын қалдыр диді*/
    text-align: center; /* ортасына қарай қойуға */
    margin: 30px auto; /* асты үсті 30px оңға солға автоматты*/
    border-radius: 5px; /* төрт бұрышын шамалы угольный қылу үшін */
    cursor: pointer; /*  мишканы апарғанда қолға айналу үшін */
    display: none; /* кейіннен көрсетуді жасау */
}

@media screen and(max-width: 768px) {
    .search-results{
        padding: 20px;
    }
    .search-result{
        width: 45%;
    }
}

@media screen and(max-width: 480px){
    .search-result{
        width: 100%;
    }
    .search-results{
        padding: 20px;
    }
}



